# Introduction

## National Pollutant Discharge Elimination System (NPDES)
- The NPDES permit program addresses water pollution by regulating point sources that discharge pollutants to waters of the United States.
- [Home Site on EPA.GOV](https://www.epa.gov/npdes)
- [Data Completeness Dashboard](https://echo.epa.gov/trends/npdes-erule-dashboard-public)
- [Data Downloads Page](https://www.epa.gov/enviro/data-downloads)
  - [Toxics Release Inventory](https://www.epa.gov/enviro/tri-ez-search)
    - Has many subjects - using Combined Releases, Releases-Complete, Facility Releases and Transfers, TRI Form Totals
    - 2020 and state of CO if possible - for Combined Releases
"""
elect distinct V_TRI_RELEASES_EZ.TRI_FACILITY_ID, V_TRI_RELEASES_EZ.FACILITY_NAME, V_TRI_RELEASES_EZ.DOC_CTRL_NUM, V_TRI_RELEASES_EZ.REPORTING_YEAR, V_TRI_RELEASES_EZ.CHEM_NAME, V_TRI_RELEASES_EZ.CAS_NUM, V_TRI_RELEASES_EZ.ELEMENTAL_METAL_INCLUDED, V_TRI_RELEASES_EZ.CATEGORY, V_TRI_RELEASES_EZ.REL_EST_AMT_SUM, V_TRI_RELEASES_EZ.CARCINOGEN, V_TRI_RELEASES_EZ.CLEAN_AIR, V_TRI_RELEASES_EZ.LIST_3350, V_TRI_RELEASES_EZ.STREET_ADDRESS, V_TRI_RELEASES_EZ.CITY_NAME, V_TRI_RELEASES_EZ.COUNTY_NAME, V_TRI_RELEASES_EZ.STATE_COUNTY_FIPS_CODE, V_TRI_RELEASES_EZ.STATE_ABBR, V_TRI_RELEASES_EZ.ZIP_CODE, V_TRI_RELEASES_EZ.REGION, V_TRI_RELEASES_EZ.FAC_CLOSED_IND, V_TRI_RELEASES_EZ.ASGN_AGENCY, V_TRI_RELEASES_EZ.ASGN_FEDERAL_IND, V_TRI_RELEASES_EZ.PARENT_CO_DB_NUM, V_TRI_RELEASES_EZ.PARENT_CO_NAME, V_TRI_RELEASES_EZ.STANDARDIZED_PARENT_COMPANY, V_TRI_RELEASES_EZ.EPA_REGISTRY_ID, V_TRI_RELEASES_EZ.TRADE_SECRET_IND, V_TRI_RELEASES_EZ.PRIMARY_SIC_CODE, V_TRI_RELEASES_EZ.INDUSTRY_CODE, V_TRI_RELEASES_EZ.SIC_CODES, V_TRI_RELEASES_EZ.NAICS_CODES, V_TRI_RELEASES_EZ.PRIMARY_NAICS_CODE, V_TRI_RELEASES_EZ.SRS_ID from V_TRI_RELEASES_EZ where (V_TRI_RELEASES_EZ.REPORTING_YEAR = '2020') and (V_TRI_RELEASES_EZ.STATE_ABBR = 'CO')
"""
    - CO - (couldn't do 2020, is this all) - for Releases-Complete
"""
Select distinct V_TRI_FORM_R_COMP_EZ.TRI_FACILITY_ID, V_TRI_FORM_R_COMP_EZ.FACILITY_NAME, V_TRI_FORM_R_COMP_EZ.EPA_REGISTRY_ID, V_TRI_FORM_R_COMP_EZ.STREET_ADDRESS, V_TRI_FORM_R_COMP_EZ.CITY_NAME, V_TRI_FORM_R_COMP_EZ.COUNTY_NAME, V_TRI_FORM_R_COMP_EZ.STATE_ABBR, V_TRI_FORM_R_COMP_EZ.ZIP_CODE, V_TRI_FORM_R_COMP_EZ.PRIMARY_SIC_CODE, V_TRI_FORM_R_COMP_EZ.SIC_CODES, V_TRI_FORM_R_COMP_EZ.PRIMARY_NAICS_CODE, V_TRI_FORM_R_COMP_EZ.NAICS_CODES, V_TRI_FORM_R_COMP_EZ.INDUSTRY_CODE, V_TRI_FORM_R_COMP_EZ.DOC_CTRL_NUM, V_TRI_FORM_R_COMP_EZ.CHEM_NAME, V_TRI_FORM_R_COMP_EZ.TRI_CHEM_ID, V_TRI_FORM_R_COMP_EZ.ELEMENTAL_METAL_INCLUDED, V_TRI_FORM_R_COMP_EZ.REPORTING_YEAR, V_TRI_FORM_R_COMP_EZ.TOTAL_ON_SITE_RELEASE, V_TRI_FORM_R_COMP_EZ.TOTAL_OFF_SITE_RELEASE, V_TRI_FORM_R_COMP_EZ.TOTAL_ON_OFF_SITE_RELEASE, V_TRI_FORM_R_COMP_EZ.AIR_TOTAL_RELEASE, V_TRI_FORM_R_COMP_EZ.FUGITIVE_TOT_REL, V_TRI_FORM_R_COMP_EZ.STACK_TOT_REL, V_TRI_FORM_R_COMP_EZ.WATER_TOTAL_RELEASE, V_TRI_FORM_R_COMP_EZ.WATER_BODY_NAME_1, V_TRI_FORM_R_COMP_EZ.WATER_RELEASE_1, V_TRI_FORM_R_COMP_EZ.STORM_WATER_PERCENT_1, V_TRI_FORM_R_COMP_EZ.WATER_BODY_NAME_2, V_TRI_FORM_R_COMP_EZ.WATER_RELEASE_2, V_TRI_FORM_R_COMP_EZ.STORM_WATER_PERCENT_2, V_TRI_FORM_R_COMP_EZ.WATER_BODY_NAME_3, V_TRI_FORM_R_COMP_EZ.WATER_RELEASE_3, V_TRI_FORM_R_COMP_EZ.STORM_WATER_PERCENT_3, V_TRI_FORM_R_COMP_EZ.LAND_TOTAL_RELEASE, V_TRI_FORM_R_COMP_EZ.RCRA_C_TOT_REL, V_TRI_FORM_R_COMP_EZ.OTH_LANDF_TOT_REL, V_TRI_FORM_R_COMP_EZ.SURF_IMP_TOT_REL, V_TRI_FORM_R_COMP_EZ.LAND_TREA_TOT_REL, V_TRI_FORM_R_COMP_EZ.OTH_DISP_TOT_REL, V_TRI_FORM_R_COMP_EZ.OTHER_LAND_RELEASE, V_TRI_FORM_R_COMP_EZ.UNINJ_TOTAL_RELEASE, V_TRI_FORM_R_COMP_EZ.UNINJ_I_TOT_REL, V_TRI_FORM_R_COMP_EZ.UNINJ_IIV_TOT_REL, V_TRI_FORM_R_COMP_EZ.POTW_TOT_TRANSFER, V_TRI_FORM_R_COMP_EZ.DISP_STORAGE_ONLY, V_TRI_FORM_R_COMP_EZ.DISP_SOLID_STAB, V_TRI_FORM_R_COMP_EZ.DISP_WASTEWATER_TREAT, V_TRI_FORM_R_COMP_EZ.DISP_UNGRND_INJ, V_TRI_FORM_R_COMP_EZ.DISP_LANDFILL_SURF_IMP, V_TRI_FORM_R_COMP_EZ.DISP_LAND_TREATMENT, V_TRI_FORM_R_COMP_EZ.DISP_OTHER_LAND_DISP, V_TRI_FORM_R_COMP_EZ.DISP_TRANS_WASTE_BROKER, V_TRI_FORM_R_COMP_EZ.SRS_ID, V_TRI_FORM_R_COMP_EZ.WASTE_ROCK_MANAGED_PILE, V_TRI_FORM_R_COMP_EZ.WASTE_ROCK_QUANTITY from V_TRI_FORM_R_COMP_EZ where (V_TRI_FORM_R_COMP_EZ.STATE_ABBR = 'CO')
"""
    - CO (2020 returned 0 rows, so took that filter out) for report 3 the Facility Releases and Transfers
"""
Select distinct V_TRI_REL_AND_TRAN_EZ.TRI_FACILITY_ID, V_TRI_REL_AND_TRAN_EZ.FACILITY_NAME, V_TRI_REL_AND_TRAN_EZ.DOC_CTRL_NUM, V_TRI_REL_AND_TRAN_EZ.REPORTING_YEAR, V_TRI_REL_AND_TRAN_EZ.CHEM_NAME, V_TRI_REL_AND_TRAN_EZ.CAS_NUM, V_TRI_REL_AND_TRAN_EZ.ELEMENTAL_METAL_INCLUDED, V_TRI_REL_AND_TRAN_EZ.CATEGORY, V_TRI_REL_AND_TRAN_EZ.REL_EST_AMT_SUM, V_TRI_REL_AND_TRAN_EZ.CARCINOGEN, V_TRI_REL_AND_TRAN_EZ.CLEAN_AIR, V_TRI_REL_AND_TRAN_EZ.LIST_3350, V_TRI_REL_AND_TRAN_EZ.STREET_ADDRESS, V_TRI_REL_AND_TRAN_EZ.CITY_NAME, V_TRI_REL_AND_TRAN_EZ.COUNTY_NAME, V_TRI_REL_AND_TRAN_EZ.STATE_COUNTY_FIPS_CODE, V_TRI_REL_AND_TRAN_EZ.STATE_ABBR, V_TRI_REL_AND_TRAN_EZ.ZIP_CODE, V_TRI_REL_AND_TRAN_EZ.REGION, V_TRI_REL_AND_TRAN_EZ.FAC_CLOSED_IND, V_TRI_REL_AND_TRAN_EZ.ASGN_AGENCY, V_TRI_REL_AND_TRAN_EZ.ASGN_FEDERAL_IND, V_TRI_REL_AND_TRAN_EZ.PARENT_CO_DB_NUM, V_TRI_REL_AND_TRAN_EZ.PARENT_CO_NAME, V_TRI_REL_AND_TRAN_EZ.STANDARDIZED_PARENT_COMPANY, V_TRI_REL_AND_TRAN_EZ.EPA_REGISTRY_ID, V_TRI_REL_AND_TRAN_EZ.TRADE_SECRET_IND, V_TRI_REL_AND_TRAN_EZ.PRIMARY_SIC_CODE, V_TRI_REL_AND_TRAN_EZ.INDUSTRY_CODE, V_TRI_REL_AND_TRAN_EZ.SIC_CODES, V_TRI_REL_AND_TRAN_EZ.NAICS_CODES, V_TRI_REL_AND_TRAN_EZ.PRIMARY_NAICS_CODE, V_TRI_REL_AND_TRAN_EZ.SRS_ID from V_TRI_REL_AND_TRAN_EZ where (V_TRI_REL_AND_TRAN_EZ.STATE_ABBR = 'CO')
"""

# Read the Data

In [1]:
import pandas as pd
#pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)

In [2]:
def desc_entity(ent_df) :
    print(f"Shape: {ent_df.shape}")
    print(f"\nRows/Index: {ent_df.index}")
    print(f"\nColumns: \n{ent_df.dtypes}")
    print("\n Sample Data: \n")
    print(ent_df.head())

In [ ]:
comb_rls_raw = pd.read_csv("Data/combined_releases.csv")
desc_entity(comb_rls_raw)

In [ ]:
fac_rls_raw = pd.read_csv("Data/facility_releases_and_transfers.CSV")
desc_entity(fac_rls_raw)

In [3]:
rls_complt_raw = pd.read_csv("Data/releases_complete2.CSV")
desc_entity(rls_complt_raw)

Shape: (96976, 56)

Rows/Index: RangeIndex(start=0, stop=96976, step=1)

Columns:
TRI_FACILITY_ID               object
FACILITY_NAME                 object
EPA_REGISTRY_ID              float64
STREET_ADDRESS                object
CITY_NAME                     object
COUNTY_NAME                   object
STATE_ABBR                    object
ZIP_CODE                       int64
PRIMARY_SIC_CODE              object
SIC_CODES                     object
PRIMARY_NAICS_CODE             int64
NAICS_CODES                   object
INDUSTRY_CODE                  int64
DOC_CTRL_NUM                 float64
CHEM_NAME                     object
TRI_CHEM_ID                   object
ELEMENTAL_METAL_INCLUDED      object
REPORTING_YEAR                 int64
TOTAL_ON_SITE_RELEASE        float64
TOTAL_OFF_SITE_RELEASE       float64
TOTAL_ON_OFF_SITE_RELEASE    float64
AIR_TOTAL_RELEASE            float64
FUGITIVE_TOT_REL             float64
STACK_TOT_REL                float64
WATER_TOTAL_RELEASE          float64
WATER_BODY_NAME_1             object
WATER_RELEASE_1              float64
STORM_WATER_PERCENT_1        float64
WATER_BODY_NAME_2             object
WATER_RELEASE_2              float64
STORM_WATER_PERCENT_2        float64
WATER_BODY_NAME_3             object
WATER_RELEASE_3              float64
STORM_WATER_PERCENT_3        float64
LAND_TOTAL_RELEASE           float64
RCRA_C_TOT_REL               float64
OTH_LANDF_TOT_REL            float64
SURF_IMP_TOT_REL             float64
LAND_TREA_TOT_REL            float64
OTH_DISP_TOT_REL             float64
OTHER_LAND_RELEASE           float64
UNINJ_TOTAL_RELEASE          float64
UNINJ_I_TOT_REL              float64
UNINJ_IIV_TOT_REL            float64
POTW_TOT_TRANSFER            float64
DISP_STORAGE_ONLY            float64
DISP_SOLID_STAB              float64
DISP_WASTEWATER_TREAT        float64
DISP_UNGRND_INJ              float64
DISP_LANDFILL_SURF_IMP       float64
DISP_LAND_TREATMENT          float64
DISP_OTHER_LAND_DISP         float64
DISP_TRANS_WASTE_BROKER      float64
SRS_ID                       float64
WASTE_ROCK_MANAGED_PILE      float64
WASTE_ROCK_QUANTITY          float64
dtype: object

 Sample Data:

   TRI_FACILITY_ID                                      FACILITY_NAME  \
0  85540PHLPS4521U                       FREEPORT-MCMORAN MORENCI INC
1  84104CLSSC2587W                               CLASSIC CABINETS INC
2  59806STNCNMULLA  SMURFIT-STONE CONTAINER ENTERPRISES INCMISSOUL...
3  68008CRGLL650IN                 CARGILL CORN MILLING NORTH AMERICA
4  85043PHNXT5110W                           CHEVRON PHOENIX TERMINAL

   EPA_REGISTRY_ID             STREET_ADDRESS       CITY_NAME COUNTY_NAME  \
0     1.100390e+11          4521 N US HWY 191         MORENCI    GREENLEE
1              NaN    3045 WEST DIRECTORS ROW  SALT LAKE CITY   SALT LAKE
2     1.100000e+11         14377 PULP MILL RD        MISSOULA    MISSOULA
3     1.100600e+11  650 INDUSTRIAL PARK DRIVE           BLAIR  WASHINGTON
4     1.100000e+11          5110 W MADISON ST         PHOENIX    MARICOPA

  STATE_ABBR   ZIP_CODE PRIMARY_SIC_CODE SIC_CODES  ...  DISP_SOLID_STAB  \
0         AZ      85540              NaN       NaN  ...              0.0
1         UT      84104             2434    2434NA  ...              0.0
2         MT      59806              NaN       NaN  ...              0.0
3         NE  680082649              NaN       NaN  ...              0.0
4         AZ      85043              NaN       NaN  ...              0.0

  DISP_WASTEWATER_TREAT  DISP_UNGRND_INJ  DISP_LANDFILL_SURF_IMP  \
0                   0.0              0.0                    0.00
1                   0.0              0.0                    0.00
2                   0.0              0.0                    2.36
3                   0.0              0.0                    0.00
4                   0.0              0.0                    0.00

  DISP_LAND_TREATMENT DISP_OTHER_LAND_DISP DISP_TRANS_WASTE_BROKER    SRS_ID  \
0                 0.0                  0.0                     0.0  649699.0
1                 0.0                  0.0                     0.0   25452.0
2                 0.0                  0.0                     0.0   40576.0
3                 0.0                  0.0                     0.0  149674.0
4                 0.0                  0.0                     0.0    4754.0

   WASTE_ROCK_MANAGED_PILE  WASTE_ROCK_QUANTITY
0                      NaN                  NaN
1                      NaN                  NaN
2                      NaN                  NaN
3                      NaN                  NaN
4                      NaN                  NaN

[5 rows x 56 columns]

C:\Users\MickC\Documents\virtual_envs\data_eng\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [ ]:
form_tot_raw = pd.read_csv("Data/TRI_Form_Totals.CSV")
desc_entity(form_tot_raw)

## Analyze Combined Releases

In [ ]:
q1 = comb_rls_raw.groupby('FACILITY_NAME')['FACILITY_NAME'].count()
filter = fn >= 5
fac_nm_ge5 = q1[filter]
print(fac_nm_ge5)
#q3 = q2.unique()
#q3

In [ ]:
#fac_nm_ge5.index
filter = comb_rls_raw['FACILITY_NAME'].isin(fac_nm_ge5.index)
comb_rls_sample = comb_rls_raw.loc[filter]
print(comb_rls_sample.head())
print(comb_rls_sample.shape)

In [ ]:
comb_rls_sample.dtypes

In [ ]:
columns = ['EXTERNAL_PERMIT_NMBR', 'FACILITY_NAME', 'STATE_CODE', ]

## Analyze Releases Complete

### Primary Key Analysis
- Primary Key Candidate, not quite - pk_candidate = rls_complt_gt0.groupby(['TRI_FACILITY_ID', 'DOC_CTRL_NUM', 'TRI_CHEM_ID', 'ELEMENTAL_METAL_INCLUDED'], 
- Primary Key Candidate - Works - ['TRI_FACILITY_ID', 'DOC_CTRL_NUM', 'TRI_CHEM_ID', 'ELEMENTAL_METAL_INCLUDED', 'TOTAL_ON_OFF_SITE_RELEASE'], 

### Need to know which numbers subtotal to which numbers which then total to which?

In [4]:
print(rls_complt_raw.dtypes)
print(rls_complt_raw.shape)

TRI_FACILITY_ID               object
FACILITY_NAME                 object
EPA_REGISTRY_ID              float64
STREET_ADDRESS                object
CITY_NAME                     object
COUNTY_NAME                   object
STATE_ABBR                    object
ZIP_CODE                       int64
PRIMARY_SIC_CODE              object
SIC_CODES                     object
PRIMARY_NAICS_CODE             int64
NAICS_CODES                   object
INDUSTRY_CODE                  int64
DOC_CTRL_NUM                 float64
CHEM_NAME                     object
TRI_CHEM_ID                   object
ELEMENTAL_METAL_INCLUDED      object
REPORTING_YEAR                 int64
TOTAL_ON_SITE_RELEASE        float64
TOTAL_OFF_SITE_RELEASE       float64
TOTAL_ON_OFF_SITE_RELEASE    float64
AIR_TOTAL_RELEASE            float64
FUGITIVE_TOT_REL             float64
STACK_TOT_REL                float64
WATER_TOTAL_RELEASE          float64
WATER_BODY_NAME_1             object
WATER_RELEASE_1              float64
STORM_WATER_PERCENT_1        float64
WATER_BODY_NAME_2             object
WATER_RELEASE_2              float64
STORM_WATER_PERCENT_2        float64
WATER_BODY_NAME_3             object
WATER_RELEASE_3              float64
STORM_WATER_PERCENT_3        float64
LAND_TOTAL_RELEASE           float64
RCRA_C_TOT_REL               float64
OTH_LANDF_TOT_REL            float64
SURF_IMP_TOT_REL             float64
LAND_TREA_TOT_REL            float64
OTH_DISP_TOT_REL             float64
OTHER_LAND_RELEASE           float64
UNINJ_TOTAL_RELEASE          float64
UNINJ_I_TOT_REL              float64
UNINJ_IIV_TOT_REL            float64
POTW_TOT_TRANSFER            float64
DISP_STORAGE_ONLY            float64
DISP_SOLID_STAB              float64
DISP_WASTEWATER_TREAT        float64
DISP_UNGRND_INJ              float64
DISP_LANDFILL_SURF_IMP       float64
DISP_LAND_TREATMENT          float64
DISP_OTHER_LAND_DISP         float64
DISP_TRANS_WASTE_BROKER      float64
SRS_ID                       float64
WASTE_ROCK_MANAGED_PILE      float64
WASTE_ROCK_QUANTITY          float64
dtype: object
(96976, 56)

In [5]:
filter = rls_complt_raw['TOTAL_ON_OFF_SITE_RELEASE'] > 0
rls_complt_gt0 = rls_complt_raw[filter]
print(rls_complt_gt0.shape)
print(rls_complt_gt0.head(100))

(96976, 56)
    TRI_FACILITY_ID                                      FACILITY_NAME  \
0   85540PHLPS4521U                       FREEPORT-MCMORAN MORENCI INC
1   84104CLSSC2587W                               CLASSIC CABINETS INC
2   59806STNCNMULLA  SMURFIT-STONE CONTAINER ENTERPRISES INCMISSOUL...
3   68008CRGLL650IN                 CARGILL CORN MILLING NORTH AMERICA
4   85043PHNXT5110W                           CHEVRON PHOENIX TERMINAL
..              ...                                                ...
95  59044CNXRF803HI                           CHS INC  LAUREL REFINERY
96  85009CSCLT3010W                           BAYSYSTEMS NORTH AMERICA
97  81006PBLCS2005L     PUBLIC SERVICE CO OF COLORADO COMANCHE STATION
98  85043MNRLF1832S                            BORAL ROOFING - PHOENIX
99  59101XXNBL700EX                       EXXONMOBIL BILLINGS REFINERY

    EPA_REGISTRY_ID             STREET_ADDRESS       CITY_NAME  COUNTY_NAME  \
0      1.100390e+11          4521 N US HWY 191         MORENCI     GREENLEE
1               NaN    3045 WEST DIRECTORS ROW  SALT LAKE CITY    SALT LAKE
2      1.100000e+11         14377 PULP MILL RD        MISSOULA     MISSOULA
3      1.100600e+11  650 INDUSTRIAL PARK DRIVE           BLAIR   WASHINGTON
4      1.100000e+11          5110 W MADISON ST         PHOENIX     MARICOPA
..              ...                        ...             ...          ...
95     1.100010e+11              803 HWY 212 S          LAUREL  YELLOWSTONE
96     1.100000e+11          3010 W LINCOLN ST         PHOENIX     MARICOPA
97     1.100000e+11               2005 LIME RD          PUEBLO       PUEBLO
98     1.100000e+11            1832 S 51ST AVE         PHOENIX     MARICOPA
99     1.100000e+11          700 EXXONMOBIL RD        BILLINGS  YELLOWSTONE

   STATE_ABBR   ZIP_CODE PRIMARY_SIC_CODE SIC_CODES  ...  DISP_SOLID_STAB  \
0          AZ      85540              NaN       NaN  ...              0.0
1          UT      84104             2434    2434NA  ...              0.0
2          MT      59806              NaN       NaN  ...              0.0
3          NE  680082649              NaN       NaN  ...              0.0
4          AZ      85043              NaN       NaN  ...              0.0
..        ...        ...              ...       ...  ...              ...
95         MT      59044             2911    2911NA  ...              0.0
96         AZ      85009             3086      3086  ...              0.0
97         CO      81006              NaN       NaN  ...              0.0
98         AZ      85043              NaN       NaN  ...              0.0
99         MT      59101             2911  29115171  ...              0.0

   DISP_WASTEWATER_TREAT  DISP_UNGRND_INJ  DISP_LANDFILL_SURF_IMP  \
0                    0.0              0.0                    0.00
1                    0.0              0.0                    0.00
2                    0.0              0.0                    2.36
3                    0.0              0.0                    0.00
4                    0.0              0.0                    0.00
..                   ...              ...                     ...
95                   0.0              0.0                    0.00
96                   0.0              0.0                    0.00
97                   0.0              0.0                    0.00
98                   0.0              0.0                   74.89
99                   0.0              0.0                    1.00

   DISP_LAND_TREATMENT DISP_OTHER_LAND_DISP DISP_TRANS_WASTE_BROKER    SRS_ID  \
0                  0.0                  0.0                     0.0  649699.0
1                  0.0                  0.0                     0.0   25452.0
2                  0.0                  0.0                     0.0   40576.0
3                  0.0                  0.0                     0.0  149674.0
4                  0.0                  0.0                     0.0    4754.0
..                 ...                  ...                     ...       ...
95                 0.0                  0.0                     0.0    5090.0
96                 0.0                  0.0                     0.0  650002.0
97                 0.0                  0.0                     0.0  152231.0
98                 0.0                  0.0                     0.0  149583.0
99                 0.0                  0.0                     0.0   26740.0

    WASTE_ROCK_MANAGED_PILE  WASTE_ROCK_QUANTITY
0                       NaN                  NaN
1                       NaN                  NaN
2                       NaN                  NaN
3                       NaN                  NaN
4                       NaN                  NaN
..                      ...                  ...
95                      NaN                  NaN
96                      NaN                  NaN
97                      NaN                  NaN
98                      NaN                  NaN
99                      NaN                  NaN

[100 rows x 56 columns]

In [6]:
rls_complt_gt0['TOTAL_ON_OFF_SITE_RELEASE'].head(100)

0     530500.00
1      10000.00
2          3.20
3          1.90
4        184.00
        ...
95     17500.00
96        10.00
97     43000.00
98        77.49
99     28424.00
Name: TOTAL_ON_OFF_SITE_RELEASE, Length: 100, dtype: float64

In [ ]:
q1 = rls_complt_gt0.groupby(['FACILITY_NAME'])['FACILITY_NAME'].count()
print(q1)
#filter = fn >= 5
#fac_nm_ge5 = q1[filter]
#print(fac_nm_ge5)

In [28]:
pk_candidate = rls_complt_gt0.groupby(['TRI_FACILITY_ID', 'DOC_CTRL_NUM', 'TRI_CHEM_ID', 'ELEMENTAL_METAL_INCLUDED', 'TOTAL_ON_OFF_SITE_RELEASE'], 
                                      as_index=False).count()
#pk_candidate = rls_complt_raw.groupby(['EPA_REGISTRY_ID', 'DOC_CTRL_NUM', 'TRI_CHEM_ID'])['EPA_REGISTRY_ID', 'DOC_CTRL_NUM', 'TRI_CHEM_ID'].count()
#pk_candidate =rls_complt_raw.groupby(['FACILITY_NAME', 'DOC_CTRL_NUM', 'TRI_CHEM_ID', 'EPA_REGISTRY_ID'])\
#                                    ['FACILITY_NAME', 'DOC_CTRL_NUM', 'TRI_CHEM_ID', 'EPA_REGISTRY_ID'].count()

#pk_candidate = rls_complt_raw.groupby(['TRI_FACILITY_ID', 'DOC_CTRL_NUM', 'TRI_CHEM_ID'])['TRI_FACILITY_ID', 'DOC_CTRL_NUM', 'TRI_CHEM_ID'].count()

#pk_candidate =rls_complt_raw.groupby\
#(['TRI_FACILITY_ID', 'DOC_CTRL_NUM', 'TRI_CHEM_ID', 'EPA_REGISTRY_ID', 'SRS_ID', 'REPORTING_YEAR'])\
# ['TRI_FACILITY_ID', 'DOC_CTRL_NUM', 'TRI_CHEM_ID', 'EPA_REGISTRY_ID', 'SRS_ID', 'REPORTING_YEAR'].count()

print(pk_candidate.shape)
print(pk_candidate.head(5))

(7221, 56)
   TRI_FACILITY_ID  DOC_CTRL_NUM TRI_CHEM_ID ELEMENTAL_METAL_INCLUDED  \
0  59011STLLWPOBOX  1.318220e+12       67561                        N
1  59011STLLWPOBOX  1.318220e+12        N090                        N
2  59011STLLWPOBOX  1.318220e+12        N100                        N
3  59011STLLWPOBOX  1.318220e+12        N420                        N
4  59011STLLWPOBOX  1.318220e+12        N458                        N

   TOTAL_ON_OFF_SITE_RELEASE  FACILITY_NAME  EPA_REGISTRY_ID  STREET_ADDRESS  \
0                   95426.00              1                1               1
1                   55482.00              1                1               1
2                   29046.00              1                1               1
3                    3564.50              1                1               1
4                       3.22              1                1               1

   CITY_NAME  COUNTY_NAME  STATE_ABBR  ZIP_CODE  PRIMARY_SIC_CODE  SIC_CODES  \
0          1            1           1         1                 0          0
1          1            1           1         1                 0          0
2          1            1           1         1                 0          0
3          1            1           1         1                 0          0
4          1            1           1         1                 0          0

   PRIMARY_NAICS_CODE  NAICS_CODES  INDUSTRY_CODE  CHEM_NAME  REPORTING_YEAR  \
0                   1            1              1          1               1
1                   1            1              1          1               1
2                   1            1              1          1               1
3                   1            1              1          1               1
4                   1            1              1          1               1

   TOTAL_ON_SITE_RELEASE  TOTAL_OFF_SITE_RELEASE  AIR_TOTAL_RELEASE  \
0                      1                       1                  1
1                      1                       1                  1
2                      1                       1                  1
3                      1                       1                  1
4                      1                       1                  1

   FUGITIVE_TOT_REL  STACK_TOT_REL  WATER_TOTAL_RELEASE  WATER_BODY_NAME_1  \
0                 1              1                    1                  0
1                 1              1                    1                  0
2                 1              1                    1                  0
3                 1              1                    1                  0
4                 1              1                    1                  0

   WATER_RELEASE_1  STORM_WATER_PERCENT_1  WATER_BODY_NAME_2  WATER_RELEASE_2  \
0                1                      0                  0                0
1                1                      0                  0                0
2                1                      0                  0                0
3                1                      0                  0                0
4                1                      0                  0                0

   STORM_WATER_PERCENT_2  WATER_BODY_NAME_3  WATER_RELEASE_3  \
0                      0                  0                0
1                      0                  0                0
2                      0                  0                0
3                      0                  0                0
4                      0                  0                0

   STORM_WATER_PERCENT_3  LAND_TOTAL_RELEASE  RCRA_C_TOT_REL  \
0                      0                   1               1
1                      0                   1               1
2                      0                   1               1
3                      0                   1               1
4                      0                   1               1

   OTH_LANDF_TOT_REL  SURF_IMP_TOT_REL  LAND_TREA_TOT_REL  OTH_DISP_TOT_REL  \
0                  1                 1                  1                 1
1                  1                 1                  1                 1
2                  1                 1                  1                 1
3                  1                 1                  1                 1
4                  1                 1                  1                 1

   OTHER_LAND_RELEASE  UNINJ_TOTAL_RELEASE  UNINJ_I_TOT_REL  \
0                   1                    1                1
1                   1                    1                1
2                   1                    1                1
3                   1                    1                1
4                   1                    1                1

   UNINJ_IIV_TOT_REL  POTW_TOT_TRANSFER  DISP_STORAGE_ONLY  DISP_SOLID_STAB  \
0                  1                  1                  1                1
1                  1                  1                  1                1
2                  1                  1                  1                1
3                  1                  1                  1                1
4                  1                  1                  1                1

   DISP_WASTEWATER_TREAT  DISP_UNGRND_INJ  DISP_LANDFILL_SURF_IMP  \
0                      1                1                       1
1                      1                1                       1
2                      1                1                       1
3                      1                1                       1
4                      1                1                       1

   DISP_LAND_TREATMENT  DISP_OTHER_LAND_DISP  DISP_TRANS_WASTE_BROKER  SRS_ID  \
0                    1                     1                        1       1
1                    1                     1                        1       1
2                    1                     1                        1       1
3                    1                     1                        1       1
4                    1                     1                        1       1

   WASTE_ROCK_MANAGED_PILE  WASTE_ROCK_QUANTITY
0                        1                    0
1                        1                    0
2                        1                    0
3                        1                    0
4                        1                    0

In [27]:
f1 = rls_complt_gt0['TRI_FACILITY_ID'] == '82005SRFRC300VE'
f2 = rls_complt_gt0['DOC_CTRL_NUM'] == 1318220000000
q = rls_complt_gt0.loc[f1&f2]
q

,TRI_FACILITY_ID,FACILITY_NAME,EPA_REGISTRY_ID,STREET_ADDRESS,CITY_NAME,COUNTY_NAME,STATE_ABBR,ZIP_CODE,PRIMARY_SIC_CODE,SIC_CODES,PRIMARY_NAICS_CODE,NAICS_CODES,INDUSTRY_CODE,DOC_CTRL_NUM,CHEM_NAME,TRI_CHEM_ID,ELEMENTAL_METAL_INCLUDED,REPORTING_YEAR,TOTAL_ON_SITE_RELEASE,TOTAL_OFF_SITE_RELEASE,TOTAL_ON_OFF_SITE_RELEASE,AIR_TOTAL_RELEASE,FUGITIVE_TOT_REL,STACK_TOT_REL,WATER_TOTAL_RELEASE,WATER_BODY_NAME_1,WATER_RELEASE_1,STORM_WATER_PERCENT_1,WATER_BODY_NAME_2,WATER_RELEASE_2,STORM_WATER_PERCENT_2,WATER_BODY_NAME_3,WATER_RELEASE_3,STORM_WATER_PERCENT_3,LAND_TOTAL_RELEASE,RCRA_C_TOT_REL,OTH_LANDF_TOT_REL,SURF_IMP_TOT_REL,LAND_TREA_TOT_REL,OTH_DISP_TOT_REL,OTHER_LAND_RELEASE,UNINJ_TOTAL_RELEASE,UNINJ_I_TOT_REL,UNINJ_IIV_TOT_REL,POTW_TOT_TRANSFER,DISP_STORAGE_ONLY,DISP_SOLID_STAB,DISP_WASTEWATER_TREAT,DISP_UNGRND_INJ,DISP_LANDFILL_SURF_IMP,DISP_LAND_TREATMENT,DISP_OTHER_LAND_DISP,DISP_TRANS_WASTE_BROKER,SRS_ID,WASTE_ROCK_MANAGED_PILE,WASTE_ROCK_QUANTITY
19313,82005SRFRC300VE,US DOD USAF FE WARREN AFB (PART),1.100420e+11,300 VESLE DR SUITE 600 90 CES CEIE,FE WARREN AFB,LARAMIE,WY,82005,NaN,NaN,928110,928110.0,999,1.318220e+12,LEAD,7439921,N,2018,0.0,0.10,0.10,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.10,0.0,0.0,0.0,0.0,0.0,0.0,149583.0,0.0,NaN
85967,82005SRFRC300VE,US DOD USAF FE WARREN AFB (PART),1.100420e+11,300 VESLE DR SUITE 600 90 CES CEIE,FE WARREN AFB,LARAMIE,WY,82005,NaN,NaN,928110,928110,999,1.318220e+12,LEAD,7439921,N,2018,0.1,0.63,0.73,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.1,0.0,0.0,0.0,0.0,0.1,0.1,0.0,0.0,0.0,0.0,0.0,0.63,0.0,0.0,0.0,0.0,0.0,0.0,149583.0,0.0,NaN

In [29]:
filter = pk_candidate['STATE_ABBR'] > 1
#print(filter[:100])
#print(any(filter))
nonpk = pk_candidate[filter]
print(nonpk.shape)
nonpk_nonna = nonpk.dropna()
print(nonpk_nonna)
print(nonpk_nonna.shape)

(0, 56)
Empty DataFrame
Columns: [TRI_FACILITY_ID, DOC_CTRL_NUM, TRI_CHEM_ID, ELEMENTAL_METAL_INCLUDED, TOTAL_ON_OFF_SITE_RELEASE, FACILITY_NAME, EPA_REGISTRY_ID, STREET_ADDRESS, CITY_NAME, COUNTY_NAME, STATE_ABBR, ZIP_CODE, PRIMARY_SIC_CODE, SIC_CODES, PRIMARY_NAICS_CODE, NAICS_CODES, INDUSTRY_CODE, CHEM_NAME, REPORTING_YEAR, TOTAL_ON_SITE_RELEASE, TOTAL_OFF_SITE_RELEASE, AIR_TOTAL_RELEASE, FUGITIVE_TOT_REL, STACK_TOT_REL, WATER_TOTAL_RELEASE, WATER_BODY_NAME_1, WATER_RELEASE_1, STORM_WATER_PERCENT_1, WATER_BODY_NAME_2, WATER_RELEASE_2, STORM_WATER_PERCENT_2, WATER_BODY_NAME_3, WATER_RELEASE_3, STORM_WATER_PERCENT_3, LAND_TOTAL_RELEASE, RCRA_C_TOT_REL, OTH_LANDF_TOT_REL, SURF_IMP_TOT_REL, LAND_TREA_TOT_REL, OTH_DISP_TOT_REL, OTHER_LAND_RELEASE, UNINJ_TOTAL_RELEASE, UNINJ_I_TOT_REL, UNINJ_IIV_TOT_REL, POTW_TOT_TRANSFER, DISP_STORAGE_ONLY, DISP_SOLID_STAB, DISP_WASTEWATER_TREAT, DISP_UNGRND_INJ, DISP_LANDFILL_SURF_IMP, DISP_LAND_TREATMENT, DISP_OTHER_LAND_DISP, DISP_TRANS_WASTE_BROKER, SRS_ID, WASTE_ROCK_MANAGED_PILE, WASTE_ROCK_QUANTITY]
Index: []
(0, 56)

In [9]:
# Not needed if 0 rows
nonpk_nonna.head()

,TRI_FACILITY_ID,DOC_CTRL_NUM,TRI_CHEM_ID,ELEMENTAL_METAL_INCLUDED,FACILITY_NAME,EPA_REGISTRY_ID,STREET_ADDRESS,CITY_NAME,COUNTY_NAME,STATE_ABBR,...,DISP_SOLID_STAB,DISP_WASTEWATER_TREAT,DISP_UNGRND_INJ,DISP_LANDFILL_SURF_IMP,DISP_LAND_TREATMENT,DISP_OTHER_LAND_DISP,DISP_TRANS_WASTE_BROKER,SRS_ID,WASTE_ROCK_MANAGED_PILE,WASTE_ROCK_QUANTITY
444,59644GRYMN45MIL,1.318220e+12,7439921,N,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,0
445,59644GRYMN45MIL,1.318220e+12,N458,Y,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,0
446,59644GRYMN45MIL,1.319220e+12,N420,Y,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,0
447,59644GRYMN45MIL,1.319220e+12,N458,Y,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,0
593,68008CRGLL650IN,1.318220e+12,107028,N,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,0

In [ ]:
# Not needed if 0 rows
filter1 = rls_complt_raw['TRI_FACILITY_ID'] == '80913FRTCRCOMMA'
filter2 = rls_complt_raw['TRI_CHEM_ID'] == '7440508'
filter3 = rls_complt_raw['SRS_ID'] == 150086.0
filter4 = rls_complt_raw['EPA_REGISTRY_ID'] == 110000000000
filter5 = rls_complt_raw['REPORTING_YEAR'] == 2018
#filter3 = nonpk_nonna['SRS_ID'] == 149583.0
sample = rls_complt_raw.loc[filter1 & filter2 & filter3 & filter4 & filter5]
print(sample)
print(sample.shape)

In [ ]:
rls_complt_raw

# Transform the Data

## Build a State-Year Aggregate from rls_complt_raw

In [6]:
use_columns = ['REPORTING_YEAR', 'STATE_ABBR', 'TOTAL_ON_OFF_SITE_RELEASE', 'WATER_TOTAL_RELEASE', 'LAND_TOTAL_RELEASE']
st_yr = rls_complt_raw[use_columns].groupby(['REPORTING_YEAR', 'STATE_ABBR'], as_index=False).sum()
st_yr

,REPORTING_YEAR,STATE_ABBR,TOTAL_ON_OFF_SITE_RELEASE,WATER_TOTAL_RELEASE,LAND_TOTAL_RELEASE
0,1987,AZ,6.813906e+07,3.010000e+03,4.936751e+07
1,1987,CO,3.571951e+07,3.329444e+06,1.352404e+07
2,1987,MT,4.000236e+07,9.962220e+05,3.250669e+07
3,1987,NE,1.939952e+07,2.774398e+06,5.327480e+05
4,1987,NM,2.137732e+07,4.321000e+03,1.731729e+07
...,...,...,...,...,...
226,2019,MT,6.177045e+07,9.854128e+04,5.924856e+07
227,2019,NE,1.784763e+07,5.514511e+06,3.519234e+06
228,2019,NM,1.662747e+07,1.416973e+05,1.416342e+07
229,2019,UT,1.990531e+08,1.433696e+05,1.849917e+08
230,2019,WY,1.850480e+07,8.441385e+03,1.534850e+07

In [ ]:
TOTAL_ON_SITE_RELEASE, TOTAL_OFF_SITE_RELEASE, AIR_TOTAL_RELEASE, FUGITIVE_TOT_REL, STACK_TOT_REL, WATER_TOTAL_RELEASE

WATER_TOTAL_RELEASE, WATER_BODY_NAME_1, WATER_RELEASE_1, STORM_WATER_PERCENT_1, WATER_BODY_NAME_2, WATER_RELEASE_2, STORM_WATER_PERCENT_2, WATER_BODY_NAME_3, WATER_RELEASE_3, STORM_WATER_PERCENT_3,

LAND_TOTAL_RELEASE, RCRA_C_TOT_REL, OTH_LANDF_TOT_REL, SURF_IMP_TOT_REL, LAND_TREA_TOT_REL, OTH_DISP_TOT_REL, OTHER_LAND_RELEASE, UNINJ_TOTAL_RELEASE, UNINJ_I_TOT_REL, UNINJ_IIV_TOT_REL, POTW_TOT_TRANSFER, DISP_STORAGE_ONLY, DISP_SOLID_STAB, DISP_WASTEWATER_TREAT, DISP_UNGRND_INJ, DISP_LANDFILL_SURF_IMP, DISP_LAND_TREATMENT, DISP_OTHER_LAND_DISP, DISP_TRANS_WASTE_BROKER, SRS_ID, WASTE_ROCK_MANAGED_PILE, WASTE_ROCK_QUANTITY

In [6]:
filter=st_yr['REPORTING_YEAR'] == 2019
st_yr_2019 = st_yr.loc[filter]
st_yr_2019.shape

In [7]:
use_columns = ['REPORTING_YEAR', 'STATE_ABBR', 'TOTAL_ON_OFF_SITE_RELEASE', 'WATER_TOTAL_RELEASE', 'LAND_TOTAL_RELEASE']
st_yr = rls_complt_raw[use_columns].groupby(['REPORTING_YEAR', 'STATE_ABBR'], as_index=False).sum()
st_yr

,REPORTING_YEAR,STATE_ABBR,TOTAL_ON_OFF_SITE_RELEASE,WATER_TOTAL_RELEASE,LAND_TOTAL_RELEASE
0,1987,AZ,6.813906e+07,3.010000e+03,4.936751e+07
1,1987,CO,3.571951e+07,3.329444e+06,1.352404e+07
2,1987,MT,4.000236e+07,9.962220e+05,3.250669e+07
3,1987,NE,1.939952e+07,2.774398e+06,5.327480e+05
4,1987,NM,2.137732e+07,4.321000e+03,1.731729e+07
...,...,...,...,...,...
226,2019,MT,6.177045e+07,9.854128e+04,5.924856e+07
227,2019,NE,1.784763e+07,5.514511e+06,3.519234e+06
228,2019,NM,1.662747e+07,1.416973e+05,1.416342e+07
229,2019,UT,1.990531e+08,1.433696e+05,1.849917e+08
230,2019,WY,1.850480e+07,8.441385e+03,1.534850e+07

In [19]:
st_yr['STATE_ABBR'].unique()

array(['AZ', 'CO', 'MT', 'NE', 'NM', 'UT', 'WY'], dtype=object)

C:\Users\MickC\Documents\virtual_envs\data_eng\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

    REPORTING_YEAR  TOTAL_ON_OFF_SITE_RELEASE
0             1987                       1990
1             1988                       2221
2             1989                       2398
3             1990                       2446
4             1991                       2407
5             1992                       2330
6             1993                       2279
7             1994                       2172
8             1995                       1994
9             1996                       2023
10            1997                       1928
11            1998                       2816
12            1999                       2767
13            2000                       3000
14            2001                       3287
15            2002                       3260
16            2003                       3274
17            2004                       3324
18            2005                       3289
19            2006                       3307
20            2007                       3307
21            2008                       3412
22            2009                       3292
23            2010                       3331
24            2011                       3366
25            2012                       3437
26            2013                       3512
27            2014                       3544
28            2015                       3451
29            2016                       3439
30            2017                       3506
31            2018                       3481
32            2019                       3386

### State Lat/Lon Reference Table
- [Source](https://inkplant.com/code/state-latitudes-longitudes)

In [8]:
st_lat_lon = pd.read_csv("Data/state_lat_lon.csv")
print(st_lat_lon.shape)
print(st_lat_lon.head())

(51, 4)
        State State_Abbr   Latitude   Longitude
0     Alabama         AL  32.806671  -86.791130
1      Alaska         AK  61.370716 -152.404419
2     Arizona         AZ  33.729759 -111.431221
3    Arkansas         AR  34.969704  -92.373123
4  California         CA  36.116203 -119.681564

### Join to add the lat/lon to the st_yr df

In [9]:
st_yr_lat_lon = st_yr.merge(st_lat_lon, left_on='STATE_ABBR', right_on='State_Abbr')
st_yr_lat_lon

,REPORTING_YEAR,STATE_ABBR,TOTAL_ON_OFF_SITE_RELEASE,WATER_TOTAL_RELEASE,LAND_TOTAL_RELEASE,State,State_Abbr,Latitude,Longitude
0,1987,AZ,6.813906e+07,3010.000,4.936751e+07,Arizona,AZ,33.729759,-111.431221
1,1988,AZ,7.329892e+07,22120.000,5.456181e+07,Arizona,AZ,33.729759,-111.431221
2,1989,AZ,5.216736e+07,2260.000,3.818565e+07,Arizona,AZ,33.729759,-111.431221
3,1990,AZ,5.850271e+07,158.000,4.458960e+07,Arizona,AZ,33.729759,-111.431221
4,1991,AZ,7.477241e+07,32960.000,6.422265e+07,Arizona,AZ,33.729759,-111.431221
...,...,...,...,...,...,...,...,...,...
226,2015,WY,2.096629e+07,15336.630,1.766478e+07,Wyoming,WY,42.755966,-107.302490
227,2016,WY,1.858622e+07,6287.139,1.548563e+07,Wyoming,WY,42.755966,-107.302490
228,2017,WY,2.020885e+07,8668.364,1.661084e+07,Wyoming,WY,42.755966,-107.302490
229,2018,WY,2.142348e+07,5537.395,1.772991e+07,Wyoming,WY,42.755966,-107.302490
230,2019,WY,1.850480e+07,8441.385,1.534850e+07,Wyoming,WY,42.755966,-107.302490

In [10]:
f2019 = st_yr_lat_lon['REPORTING_YEAR'] == 2019
st_yr_2019 = st_yr_lat_lon.loc[f2019]
st_yr_2019.to_csv("Data/st_yr_2019.csv")

### Chemical Lists

In [4]:
chem_pfa_df = pd.read_csv("Data/chem_pfa.csv")
print(chem_pfa_df.shape)
print(chem_pfa_df.head())

(172, 5)
        CASRN  \
0  68391-08-2
1  97659-47-7
2  68188-12-5
3   3825-26-1
4  68515-62-8

  TRI Chemical Name for Listed Per- and Polyfluoroalkyl Substances (PFAS)  \
0                     Alcohols, C8-14, --perfluoro
1                   Alkenes, C8-14 -, --perfluoro
2                Alkyl iodides, C4-20, --perfluoro
3                        Ammonium perfluorooctanoate
4  1,4-Benzenedicarboxylic acid, dimethyl ester, ...

                               Chemical Structure  De Minimis  \
0                                             NaN         1.0
1                                             NaN         1.0
2                                             NaN         1.0
3                                             NaN         1.0
4  Reaction product mixture of variable structure         1.0

   MPOU Thresholds (lbs)
0                    100
1                    100
2                    100
3                    100
4                    100

In [5]:
chem_non_pfa_df = pd.read_csv("Data/chem_non_pfa.csv")
print(chem_non_pfa_df.shape)
print(chem_non_pfa_df.head())

(792, 7)
        CASRN Chemical Name  Chemical Structure De Minimis  \
0  71751-41-2      Abamectin                NaN        1.0
1  30560-19-1       Acephate                NaN        1.0
2     75-07-0   Acetaldehyde                NaN        0.1
3     60-35-5      Acetamide                NaN        0.1
4     75-05-8   Acetonitrile                NaN        1.0

  MPOU Thresholds (lbs) Category Description Category Member
0         25,000/10,000                  NaN             NaN
1         25,000/10,000                  NaN             NaN
2         25,000/10,000                  NaN             NaN
3         25,000/10,000                  NaN             NaN
4         25,000/10,000                  NaN             NaN